@using AdminPortal.Services;
@using MessageBoardClassLibrary.MessageBoardContext;
@using MessageBoardClassLibrary.Models;
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Connections;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.SignalR.Client;
@implements IDisposable
@inject BoardContext _dbContext
@inject CommentServices CommentServices

@inject NavigationManager navigationManager
@inject HubConnectionBuilder hubBuilder
@*
@page "/DynamicPostView"
*@
<h1>Comment Section</h1>

<EditForm Model="@CommentServices" OnSubmit="(e) => UpdateComments()">
    <InputText id="name" @bind-Value="CommentServices.CommentValue" />
    <button type="submit">Submit</button>
</EditForm>

<br />

@foreach (Comment comment in CommentServices.Comments)
{
    <div class="card @Boarders[random.Next(0, Boarders.Count)]">
        <div class="card-body">
            <h5 class="card-title"> @comment.User.FirstName @comment.User.LastName</h5>
            <h6 class="card-subtitle mb-2 text-muted">@comment.DatePosted</h6>
            <p class="card-text">@comment.Value</p>
        </div>
    </div>
    <br />
}

