@using Models
@using MessageBoardClassLibrary.Models


<h1>Manage Users</h1>

<form asp-action="ManageUsers" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a href="ManageUsers">Back to Full List</a>
        </p>
    </div>
</form>

    <tbody>
        @foreach (User user in Users)
        {
            <tr id="@user.Id">
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>

                <td>
                    @foreach (SchoolUser school in user.Schools)
                    {
                        @school.School.Name
                        <br />
                    }
                </td>

                <td>@user.IsValidated</td>
                <td>@user.IsActivated</td>
                @if(@user.Posts != null)
                {
                       <td> @user.Posts.Count </td>
                }
                else
                {   
                        <td> 0 </td>
                }
                <td><a class="btn btn-primary" href="EditUser/?Id=@user.Id">Edit</a></td>
                <td><button class="btn btn-danger" onclick="ShowPopup('@user.Id')">Delete</button></td>
            </tr>
        }
    </tbody>

@for (int i = 1; i <= TotalSize; i++)
{
    <a class="_noDecoration" href="ManageUsers/?PageNumber = @i">
        @i
    </a>
}

@foreach (User user in Users)
{
    <div class="_popUp _@user.Id">
        <div class="_deleteConfirmation">
        <h3> Are you sure you want to Delete @user.FirstName @user.LastName's Account</h3>
        <div class="_buttonGroup">
            <button class="btn btn-danger" onclick="DeleteUser('@user.Id')">Delete</button>
            <button class="btn btn-primary" onclick="HidePopup('@user.Id')">Cancel</button>
        </div>
        </div class="_deleteConfirmation">
    </div>
}