@{
    ViewData["Title"] = "Edit User";
}
@using MessageBoardClassLibrary.Models;
@model AdminViewModel

<h1> Edit @Model.EditUser.FirstName @Model.EditUser.LastName Info</h1>

<form asp-action="EditUser" method="post">
    <input type="hidden" value="@Model.EditUser.Id" name="EditUser.Id" />
    <div class="row">
        <div class="col">
            <label class="sr-only">First Name</label>
            <input class="form-control" type="text" alt="First Name" placeholder="First Name" name="FirstName" value="@Model.EditUser.FirstName" />
        </div>

        <div class="col">
            <label class="sr-only">Last Name</label>
            <input class="form-control" type="text" alt="Last Name" placeholder="Last Name" name="LastName" value="@Model.EditUser.LastName" />
        </div>
    </div>

    <div class="col">
        <label class="sr-only">Email</label>
        <input class="form-control" type="email" alt="Email" placeholder="Email" name="Email" value="@Model.EditUser.Email" />
    </div>

    <div class="col">
        <label class="sr-only">Password</label>
        <input class="form-control" type="text" alt="Password" placeholder="Password" name="Password" />
    </div>

    <div class="row">
        <div class="form-group col-md-2 _formSelector">
            <label>Role</label>
            <select class="form-control" name="role">
                <option value="" selected>Select Role</option>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
            <br />
            <button class="btn btn-primary mb-2"> Update </button>
        </div>

        <div class="col-md-2 _checkBoxPadding">
            <label class="sr-only">Is Active</label>
            <input class="form-check-input _validatinCheckbox" type="checkbox" name="IsActivated" value="@Model.EditUser.IsActivated" checked="@Model.EditUser.IsActivated">
        </div>

        <div class="col-md-2 _checkBoxPadding">
            <label>Is Valid</label>
            <input class="form-check-input _validatinCheckbox" type="checkbox" name="IsValidated" value="@Model.EditUser.IsValidated" checked="@Model.EditUser.IsValidated">
        </div>

        <div class="form-group col-md-2 _formSelector">
            <label>District</label>
            <select class="form-control" name="Field" id="Field">
                <option value="" selected>Select a District</option>
                @foreach (Field field in @Model.Fields)
                {
                    @if (Model.Schools.Where(x => x.Area.Field.Id == field.Id).ToList().Count != 0)
                    {
                        <option value="@field.Id">@field.Name</option>
                    }
                }
            </select>
        </div>

        <div class="form-group col _checkboxContainer">
            @foreach (Field field in @Model.Fields)
            {
                <div class="_hide _checkBox" id="@field.Id">
                    @foreach (School school in Model.Schools.Where(x => x.Area.Field.Id == field.Id))
                    {
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">@school.Name</label>
                            <input class="form-check-input" type="checkbox" name="schools" value="@school.Id">
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</form>

<script src="~/js/Fields.js"></script>
